In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
df.head()

WARNING:tensorflow:From C:\Users\baseb\anaconda\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME' 'STATUS', 'SPECIAL_CONSIDERATIONS'.
df = df.drop(columns = ['EIN', 'NAME', 'STATUS', 'SPECIAL_CONSIDERATIONS'])
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [3]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
type_counts = df['APPLICATION_TYPE'].value_counts()
type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_counts.iloc[8:].index)
cutoff_value = 528

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other_app_type")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3                27037
T4                 1542
T6                 1216
T5                 1173
T19                1065
T8                  737
T7                  725
T10                 528
Other_app_type      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_types = df['CLASSIFICATION'].value_counts()
classification_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_types.iloc[5:].index)
cutoff_value_classifications = 1883

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other_classification")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000                   17326
C2000                    6074
C1200                    4837
Other_classification     2261
C3000                    1918
C2100                    1883
Name: CLASSIFICATION, dtype: int64

In [8]:
#convert the categorical data in numeric using get_dummies()
dummies = pd.get_dummies(df)
dummies.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other_app_type,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [9]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn1 = tf.keras.models.Sequential()

# First hidden layer
nn1.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features_total, activation = "relu"))

# Second hidden layer
nn1.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

# Output layer
nn1.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn1.summary()

WARNING:tensorflow:From C:\Users\baseb\anaconda\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 328

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 379 (1.48 KB)
Trainable params: 379 (1.48 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [12]:
# Compile the model (FIRST ATTEMPT)
nn1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\baseb\anaconda\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [15]:
# Train the model (FIRST ATTEMPT)
fit_model = nn1.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 699us/step - loss: 0.5474 - accuracy: 0.7326
Epoch 2/50
804/804 [==============================] - 1s 694us/step - loss: 0.5473 - accuracy: 0.7312
Epoch 3/50
804/804 [==============================] - 1s 681us/step - loss: 0.5473 - accuracy: 0.7321
Epoch 4/50
804/804 [==============================] - 1s 685us/step - loss: 0.5468 - accuracy: 0.7316
Epoch 5/50
804/804 [==============================] - 1s 687us/step - loss: 0.5470 - accuracy: 0.7320
Epoch 6/50
804/804 [==============================] - 1s 681us/step - loss: 0.5469 - accuracy: 0.7318
Epoch 7/50
804/804 [==============================] - 1s 681us/step - loss: 0.5465 - accuracy: 0.7316
Epoch 8/50
804/804 [==============================] - 1s 682us/step - loss: 0.5463 - accuracy: 0.7323
Epoch 9/50
804/804 [==============================] - 1s 688us/step - loss: 0.5464 - accuracy: 0.7319
Epoch 10/50
804/804 [==============================] - 1s 681us/step - loss: 0.5464 - accuracy: 0.7316
Epoch 11/50
804/804 [==============================] - 1s 683us/step - loss: 0.5460 - accuracy: 0.7320
Epoch 12/50
804/804 [==============================] - 1s 681us/step - loss: 0.5460 - accuracy: 0.7329
Epoch 13/50
804/804 [==============================] - 1s 700us/step - loss: 0.5461 - accuracy: 0.7334
Epoch 14/50
804/804 [==============================] - 1s 695us/step - loss: 0.5459 - accuracy: 0.7329
Epoch 15/50
804/804 [==============================] - 1s 679us/step - loss: 0.5457 - accuracy: 0.7332
Epoch 16/50
804/804 [==============================] - 1s 677us/step - loss: 0.5458 - accuracy: 0.7339
Epoch 17/50
804/804 [==============================] - 1s 684us/step - loss: 0.5457 - accuracy: 0.7338
Epoch 18/50
804/804 [==============================] - 1s 671us/step - loss: 0.5456 - accuracy: 0.7343
Epoch 19/50
804/804 [==============================] - 1s 677us/step - loss: 0.5458 - accuracy: 0.7340
Epoch 20/50
804/804 [==============================] - 1s 683us/step - loss: 0.5454 - accuracy: 0.7340
Epoch 21/50
804/804 [==============================] - 1s 675us/step - loss: 0.5456 - accuracy: 0.7354
Epoch 22/50
804/804 [==============================] - 1s 684us/step - loss: 0.5453 - accuracy: 0.7345
Epoch 23/50
804/804 [==============================] - 1s 681us/step - loss: 0.5453 - accuracy: 0.7348
Epoch 24/50
804/804 [==============================] - 1s 680us/step - loss: 0.5451 - accuracy: 0.7343
Epoch 25/50
804/804 [==============================] - 1s 674us/step - loss: 0.5451 - accuracy: 0.7352
Epoch 26/50
804/804 [==============================] - 1s 677us/step - loss: 0.5451 - accuracy: 0.7359
Epoch 27/50
804/804 [==============================] - 1s 684us/step - loss: 0.5451 - accuracy: 0.7344
Epoch 28/50
804/804 [==============================] - 1s 693us/step - loss: 0.5450 - accuracy: 0.7346
Epoch 29/50
804/804 [==============================] - 1s 683us/step - loss: 0.5448 - accuracy: 0.7350
Epoch 30/50
804/804 [==============================] - 1s 683us/step - loss: 0.5449 - accuracy: 0.7351
Epoch 31/50
804/804 [==============================] - 1s 690us/step - loss: 0.5447 - accuracy: 0.7341
Epoch 32/50
804/804 [==============================] - 1s 691us/step - loss: 0.5449 - accuracy: 0.7350
Epoch 33/50
804/804 [==============================] - 1s 681us/step - loss: 0.5447 - accuracy: 0.7350
Epoch 34/50
804/804 [==============================] - 1s 692us/step - loss: 0.5446 - accuracy: 0.7354
Epoch 35/50
804/804 [==============================] - 1s 701us/step - loss: 0.5447 - accuracy: 0.7349
Epoch 36/50
804/804 [==============================] - 1s 688us/step - loss: 0.5445 - accuracy: 0.7342
Epoch 37/50
804/804 [==============================] - 1s 684us/step - loss: 0.5449 - accuracy: 0.7348
Epoch 38/50
804/804 [==============================] - 1s 696us/step - loss: 0.5445 - accuracy: 0.7346
Epoch 39/50
804/804 [==============================] - 1s 695us/step - loss: 0.5443 - accuracy: 0.7348
Epoch 40/50
804/804 [==============================] - 1s 681us/step - loss: 0.5443 - accuracy: 0.7355
Epoch 41/50
804/804 [==============================] - 1s 714us/step - loss: 0.5445 - accuracy: 0.7348
Epoch 42/50
804/804 [==============================] - 1s 686us/step - loss: 0.5444 - accuracy: 0.7355
Epoch 43/50
804/804 [==============================] - 1s 690us/step - loss: 0.5443 - accuracy: 0.7349
Epoch 44/50
804/804 [==============================] - 1s 680us/step - loss: 0.5440 - accuracy: 0.7357
Epoch 45/50
804/804 [==============================] - 1s 691us/step - loss: 0.5442 - accuracy: 0.7342
Epoch 46/50
804/804 [==============================] - 1s 708us/step - loss: 0.5441 - accuracy: 0.7349
Epoch 47/50
804/804 [==============================] - 1s 685us/step - loss: 0.5440 - accuracy: 0.7355
Epoch 48/50
804/804 [==============================] - 1s 684us/step - loss: 0.5441 - accuracy: 0.7352
Epoch 49/50
804/804 [==============================] - 1s 700us/step - loss: 0.5440 - accuracy: 0.7350
Epoch 50/50
804/804 [==============================] - 1s 689us/step - loss: 0.5439 - accuracy: 0.7355

In [16]:
# Evaluate the model using the test data (FIRST ATTEMPT) Accuracy = 71.97%
model_loss, model_accuracy = nn1.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5596 - accuracy: 0.7197 - 239ms/epoch - 892us/step
Loss: 0.5596097111701965, Accuracy: 0.719650149345398

In [18]:
# (SECOND ATTEMPT)
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 10

nn2 = tf.keras.models.Sequential()

# First hidden layer
nn2.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features_total, activation = "sigmoid"))

# Second hidden layer
nn2.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "sigmoid"))

# Output layer
nn2.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 10)                410

 dense_5 (Dense)             (None, 10)                110

 dense_6 (Dense)             (None, 1)                 11

=================================================================
Total params: 531 (2.07 KB)
Trainable params: 531 (2.07 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
# Compile the model (SECOND ATTEMPT)
nn2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [21]:
# Train the model (SECOND ATTEMPT)
fit_model = nn2.fit(X_train_scaled,y_train,epochs=35)

Epoch 1/35
804/804 [==============================] - 1s 723us/step - loss: 0.5501 - accuracy: 0.7319
Epoch 2/35
804/804 [==============================] - 1s 704us/step - loss: 0.5498 - accuracy: 0.7325
Epoch 3/35
804/804 [==============================] - 1s 705us/step - loss: 0.5503 - accuracy: 0.7323
Epoch 4/35
804/804 [==============================] - 1s 708us/step - loss: 0.5496 - accuracy: 0.7329
Epoch 5/35
804/804 [==============================] - 1s 699us/step - loss: 0.5507 - accuracy: 0.7336
Epoch 6/35
804/804 [==============================] - 1s 703us/step - loss: 0.5507 - accuracy: 0.7330
Epoch 7/35
804/804 [==============================] - 1s 701us/step - loss: 0.5480 - accuracy: 0.7337
Epoch 8/35
804/804 [==============================] - 1s 692us/step - loss: 0.5526 - accuracy: 0.7329
Epoch 9/35
804/804 [==============================] - 1s 683us/step - loss: 0.5478 - accuracy: 0.7340
Epoch 10/35
804/804 [==============================] - 1s 687us/step - loss: 0.5469 - accuracy: 0.7339
Epoch 11/35
804/804 [==============================] - 1s 686us/step - loss: 0.5468 - accuracy: 0.7340
Epoch 12/35
804/804 [==============================] - 1s 690us/step - loss: 0.5493 - accuracy: 0.7331
Epoch 13/35
804/804 [==============================] - 1s 686us/step - loss: 0.5476 - accuracy: 0.7334
Epoch 14/35
804/804 [==============================] - 1s 689us/step - loss: 0.5461 - accuracy: 0.7345
Epoch 15/35
804/804 [==============================] - 1s 693us/step - loss: 0.5475 - accuracy: 0.7341
Epoch 16/35
804/804 [==============================] - 1s 688us/step - loss: 0.5466 - accuracy: 0.7344
Epoch 17/35
804/804 [==============================] - 1s 685us/step - loss: 0.5482 - accuracy: 0.7336
Epoch 18/35
804/804 [==============================] - 1s 688us/step - loss: 0.5599 - accuracy: 0.7318
Epoch 19/35
804/804 [==============================] - 1s 702us/step - loss: 0.5470 - accuracy: 0.7343
Epoch 20/35
804/804 [==============================] - 1s 682us/step - loss: 0.5462 - accuracy: 0.7342
Epoch 21/35
804/804 [==============================] - 1s 686us/step - loss: 0.5457 - accuracy: 0.7341
Epoch 22/35
804/804 [==============================] - 1s 709us/step - loss: 0.5457 - accuracy: 0.7343
Epoch 23/35
804/804 [==============================] - 1s 739us/step - loss: 0.5470 - accuracy: 0.7335
Epoch 24/35
804/804 [==============================] - 1s 765us/step - loss: 0.5456 - accuracy: 0.7340
Epoch 25/35
804/804 [==============================] - 1s 726us/step - loss: 0.5465 - accuracy: 0.7345
Epoch 26/35
804/804 [==============================] - 1s 721us/step - loss: 0.5453 - accuracy: 0.7331
Epoch 27/35
804/804 [==============================] - 1s 713us/step - loss: 0.5452 - accuracy: 0.7343
Epoch 28/35
804/804 [==============================] - 1s 685us/step - loss: 0.5457 - accuracy: 0.7346
Epoch 29/35
804/804 [==============================] - 1s 713us/step - loss: 0.5469 - accuracy: 0.7342
Epoch 30/35
804/804 [==============================] - 1s 709us/step - loss: 0.5463 - accuracy: 0.7347
Epoch 31/35
804/804 [==============================] - 1s 702us/step - loss: 0.5472 - accuracy: 0.7339
Epoch 32/35
804/804 [==============================] - 1s 697us/step - loss: 0.5463 - accuracy: 0.7340
Epoch 33/35
804/804 [==============================] - 1s 684us/step - loss: 0.5464 - accuracy: 0.7336
Epoch 34/35
804/804 [==============================] - 1s 684us/step - loss: 0.5455 - accuracy: 0.7342
Epoch 35/35
804/804 [==============================] - 1s 684us/step - loss: 0.5456 - accuracy: 0.7346

In [22]:
# Evaluate the model using the test data (SECOND ATTEMPT) Accuracy = 72.21%
model_loss, model_accuracy = nn2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5591 - accuracy: 0.7221 - 223ms/epoch - 832us/step
Loss: 0.5591220259666443, Accuracy: 0.7220991253852844

In [37]:
# (THIRD ATTEMPT)
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train[0])
hidden_nodes_layer1 = 4
hidden_nodes_layer2 = 3
hidden_nodes_layer3 = 2
nn3 = tf.keras.models.Sequential()

# First hidden layer
nn3.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features_total, activation = "sigmoid"))

# Second hidden layer
nn3.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "sigmoid"))

# Third hidden layer
nn3.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation = "sigmoid"))

# Output layer
nn3.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn3.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_19 (Dense)            (None, 4)                 164

 dense_20 (Dense)            (None, 3)                 15

 dense_21 (Dense)            (None, 2)                 8

 dense_22 (Dense)            (None, 1)                 3

=================================================================
Total params: 190 (760.00 Byte)
Trainable params: 190 (760.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [38]:
# Compile the model (THIRD ATTEMPT)
nn3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [39]:
# Train the model (THIRD ATTEMPT)
fit_model = nn3.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 729us/step - loss: 0.6708 - accuracy: 0.6048
Epoch 2/50
804/804 [==============================] - 1s 727us/step - loss: 0.5879 - accuracy: 0.7276
Epoch 3/50
804/804 [==============================] - 1s 725us/step - loss: 0.5732 - accuracy: 0.7303
Epoch 4/50
804/804 [==============================] - 1s 723us/step - loss: 0.5718 - accuracy: 0.7297
Epoch 5/50
804/804 [==============================] - 1s 729us/step - loss: 0.5711 - accuracy: 0.7303
Epoch 6/50
804/804 [==============================] - 1s 727us/step - loss: 0.5707 - accuracy: 0.7312
Epoch 7/50
804/804 [==============================] - 1s 726us/step - loss: 0.5703 - accuracy: 0.7309
Epoch 8/50
804/804 [==============================] - 1s 724us/step - loss: 0.5699 - accuracy: 0.7306
Epoch 9/50
804/804 [==============================] - 1s 732us/step - loss: 0.5695 - accuracy: 0.7308
Epoch 10/50
804/804 [==============================] - 1s 752us/step - loss: 0.5690 - accuracy: 0.7310
Epoch 11/50
804/804 [==============================] - 1s 730us/step - loss: 0.5683 - accuracy: 0.7306
Epoch 12/50
804/804 [==============================] - 1s 730us/step - loss: 0.5674 - accuracy: 0.7313
Epoch 13/50
804/804 [==============================] - 1s 727us/step - loss: 0.5657 - accuracy: 0.7318
Epoch 14/50
804/804 [==============================] - 1s 729us/step - loss: 0.5637 - accuracy: 0.7322
Epoch 15/50
804/804 [==============================] - 1s 724us/step - loss: 0.5613 - accuracy: 0.7320
Epoch 16/50
804/804 [==============================] - 1s 732us/step - loss: 0.5596 - accuracy: 0.7317
Epoch 17/50
804/804 [==============================] - 1s 738us/step - loss: 0.5584 - accuracy: 0.7326
Epoch 18/50
804/804 [==============================] - 1s 737us/step - loss: 0.5574 - accuracy: 0.7332
Epoch 19/50
804/804 [==============================] - 1s 731us/step - loss: 0.5566 - accuracy: 0.7327
Epoch 20/50
804/804 [==============================] - 1s 734us/step - loss: 0.5560 - accuracy: 0.7329
Epoch 21/50
804/804 [==============================] - 1s 740us/step - loss: 0.5555 - accuracy: 0.7325
Epoch 22/50
804/804 [==============================] - 1s 729us/step - loss: 0.5550 - accuracy: 0.7334
Epoch 23/50
804/804 [==============================] - 1s 745us/step - loss: 0.5542 - accuracy: 0.7325
Epoch 24/50
804/804 [==============================] - 1s 724us/step - loss: 0.5540 - accuracy: 0.7325
Epoch 25/50
804/804 [==============================] - 1s 733us/step - loss: 0.5535 - accuracy: 0.7332
Epoch 26/50
804/804 [==============================] - 1s 747us/step - loss: 0.5532 - accuracy: 0.7322
Epoch 27/50
804/804 [==============================] - 1s 757us/step - loss: 0.5528 - accuracy: 0.7329
Epoch 28/50
804/804 [==============================] - 1s 737us/step - loss: 0.5524 - accuracy: 0.7325
Epoch 29/50
804/804 [==============================] - 1s 726us/step - loss: 0.5522 - accuracy: 0.7320
Epoch 30/50
804/804 [==============================] - 1s 742us/step - loss: 0.5522 - accuracy: 0.7319
Epoch 31/50
804/804 [==============================] - 1s 740us/step - loss: 0.5518 - accuracy: 0.7317
Epoch 32/50
804/804 [==============================] - 1s 726us/step - loss: 0.5516 - accuracy: 0.7323
Epoch 33/50
804/804 [==============================] - 1s 740us/step - loss: 0.5512 - accuracy: 0.7330
Epoch 34/50
804/804 [==============================] - 1s 732us/step - loss: 0.5512 - accuracy: 0.7326
Epoch 35/50
804/804 [==============================] - 1s 731us/step - loss: 0.5510 - accuracy: 0.7322
Epoch 36/50
804/804 [==============================] - 1s 728us/step - loss: 0.5508 - accuracy: 0.7331
Epoch 37/50
804/804 [==============================] - 1s 732us/step - loss: 0.5505 - accuracy: 0.7330
Epoch 38/50
804/804 [==============================] - 1s 731us/step - loss: 0.5503 - accuracy: 0.7314
Epoch 39/50
804/804 [==============================] - 1s 744us/step - loss: 0.5503 - accuracy: 0.7317
Epoch 40/50
804/804 [==============================] - 1s 754us/step - loss: 0.5501 - accuracy: 0.7326
Epoch 41/50
804/804 [==============================] - 1s 754us/step - loss: 0.5502 - accuracy: 0.7315
Epoch 42/50
804/804 [==============================] - 1s 742us/step - loss: 0.5500 - accuracy: 0.7331
Epoch 43/50
804/804 [==============================] - 1s 732us/step - loss: 0.5498 - accuracy: 0.7321
Epoch 44/50
804/804 [==============================] - 1s 753us/step - loss: 0.5495 - accuracy: 0.7324
Epoch 45/50
804/804 [==============================] - 1s 751us/step - loss: 0.5495 - accuracy: 0.7332
Epoch 46/50
804/804 [==============================] - 1s 731us/step - loss: 0.5496 - accuracy: 0.7337
Epoch 47/50
804/804 [==============================] - 1s 754us/step - loss: 0.5495 - accuracy: 0.7330
Epoch 48/50
804/804 [==============================] - 1s 739us/step - loss: 0.5495 - accuracy: 0.7327
Epoch 49/50
804/804 [==============================] - 1s 754us/step - loss: 0.5493 - accuracy: 0.7332
Epoch 50/50
804/804 [==============================] - 1s 733us/step - loss: 0.5494 - accuracy: 0.7335

In [40]:
# Evaluate the model using the test data (THIRD ATTEMPT) Accuracy = 72.27
model_loss, model_accuracy = nn3.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5637 - accuracy: 0.7227 - 227ms/epoch - 845us/step
Loss: 0.563679039478302, Accuracy: 0.7226822376251221

In [41]:
# Export our model to HDF5 file
filepath = r"AlphabetSoupCharity_Optimization.h5"
nn3.save(filepath, save_format='h5')